body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('oficina.jpg'); /* Asegúrate de reemplazar 'oficina.jpg' con el nombre real del archivo */
    background-size: cover; /* Ancho x Alto */
    background-position: center;
    background-attachment: fixed;
    filter: brightness(1.1) contrast(1.2);
}

header {
    background-color: #2C3E50; /* Fondo opaco */
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 { font-size: 4em; /* Ajusta este valor según lo necesites */ 
            margin: 0; 
            padding: 20px 0; /* Agrega algo de espacio alrededor del título */ 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo casi opaco */
}

section {
    margin-bottom: 20px;
}

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh; /* Ajusta la altura de la sección al 70% de la vista */
    padding: 20px;
    margin: 0; /* Asegúrate de que no haya márgenes que afecten el centrado */
}

#inicio h2 {
    margin: 0;
    padding: 10px;
    font-size: 3.5em; /* Tamaño de la fuente aumentado */
    color: #cbd7de; /* Cambia el color del texto a blanco */
}

#inicio p {
    margin: 0;
    padding: 10px;
    font-size: 1.8em; /* Tamaño de la fuente aumentado */
    color: #cbd7de; /* Cambia el color del texto a dorado */
}

#sobre-nosotros { display: flex; 
                  flex-direction: column; 
                  justify-content: center; 
                  align-items: center; 
                  text-align: center; 
                  padding: 20px; 
                  margin-top: 100px; /* Aumenta este valor para más separación */
} 
#sobre-nosotros h2 { margin: 0; 
                     padding: 10px; 
                     font-size: 3.5em; /* Tamaño de la fuente aumentado */ 
                     color: #FFFFFF; /* Cambia el color del texto a blanco */ 
} 
#sobre-nosotros p { margin: 0; 
                    padding: 10px; 
                    font-size: 1.8em; /* Tamaño de la fuente aumentado */ 
                    color: #FFFFFF; /* Cambia el color del texto a blanco */ 
}

#servicios { display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
    margin-top: 300px; /* Aumenta este valor para más separación */
}

#servicios h2 { margin: 0; 
                padding: 10px; 
                justify-content: center;
                font-size: 3.5em; /* Tamaño de la fuente aumentado */ 
                color: #FFFFFF; /* Cambia el color del texto a blanco */ 
               
} 
#servicios ul { list-style: none; 
                padding: 0; 
                text-align: center; 
} 
#servicios ul li { font-size: 1.8em; /* Tamaño de la fuente aumentado */ 
                   color: #FFFFFF; /* Cambia el color del texto a blanco */ 
                   margin: 10px 0; /* Agrega un margen entre los elementos de la lista */ 
}

#equipo { padding: 20px; 
          margin-top: 300px; /* Aumenta este valor para más separación si es necesario */ 

} #equipo h2 { text-align: center; 
               font-size: 3.5em; /* Tamaño de la fuente aumentado */ 
               color: #FFFFFF; /* Cambia el color del texto a blanco */ 

} 
  .abogado { margin-bottom: 20px; } 
  .abogado h3 { text-align: left; font-size: 2.0em; /* Tamaño de la fuente aumentado */ 
                color: #FFFFFF; /* Cambia el color del texto a blanco */ } 
  .abogado p { text-align: left; 
               font-size: 1.5em; /* Tamaño de la fuente aumentado */ 
               color: #FFFFFF; /* Cambia el color del texto a blanco */ }


#contacto { display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            text-align: center; 
            padding: 20px; 
            margin-top: 250px; /* Aumenta este valor para más separación */ 
}

#contacto h2 { margin: 0; 
               padding: 10px; 
               font-size: 3.5em; /* Tamaño de la fuente aumentado */ 
               color: #FFFFFF; /* Cambia el color del texto a blanco */ 
               text-align: center; /* Asegura que el texto esté centrado */
}
   
footer {
    background-color: #34495E; /* Fondo opaco */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 1.8em; /* Tamaño de la fuente aumentado */
    color: #FFFFFF; /* Cambia el color del texto a blanco */
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #2C3E50;
    color: rgb(250, 250, 250);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 200px; /* Agrega espacio debajo del botón */
}

button:hover {
    background-color: #34495E;
}

/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 3em; /* Reduce el tamaño del título en pantallas pequeñas */
    }

    #inicio h2, #sobre-nosotros h2, #servicios h2, #equipo h2, #contacto h2 {
        font-size: 2.5em; /* Reduce el tamaño de los encabezados en pantallas pequeñas */
    }

    #inicio p, #sobre-nosotros p, #servicios ul li, .abogado h3, .abogado p, label {
        font-size: 1.5em; /* Reduce el tamaño del texto en pantallas pequeñas */
    }

    button {
        padding: 8px 16px; /* Reduce el tamaño del botón en pantallas pequeñas */
    }
}
